/node_modules
/public/hot
package-lock.json
/public/css/app.css
/public/js/app.js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
yarn.lock
